ComputerVision/Assignment_03/cifar.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/test_batch.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/readme.html
ComputerVision/Assignment_03/cifar-10-batches-mat/data_batch_5.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/data_batch_4.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/data_batch_3.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/data_batch_2.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/data_batch_1.mat
ComputerVision/Assignment_03/cifar-10-batches-mat/batches.meta.mat
ComputerVision/Assignment_03/matlab.mat
